@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --color1: #070F2B;
    --color2: #1B1A55;
    --color3: #535C91;
    --color4: #9290C3;
    --blanco: #ffffff;
    --transparente-gris: rgba(255,255,255, 0.20);
    --fuente: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--fuente);
    outline: none;
}

body {
    background-color: var(--color4);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card {
    background: var(--color2);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color3), 0 0 40px var(--color3), 0 0 80px var(--color3);
    margin-top: 20px;
    padding: 20px;
}

.form-log {
    background: var(--color1);
    padding: 20px;
    margin: auto;
    width: 450px;
    border-radius: 10px;
    margin-top: 6%;
    border: 1px solid var(--color4);
    color: var(--blanco);
    box-shadow: 0 0 10px var(--color4), 0 0 40px var(--color4), 0 0 80px var(--color4);
}

h1, h2 {
    color: var(--blanco);
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.log-form {
    width: 100%;
    padding: 0px;
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    border-bottom: var(--color4) solid;
    background-color: var(--color1);
    color: var(--blanco);
    margin: 10px 0;
}
input:focus {
    outline: none;
}

.campos {
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.regist {
    color: var(--blanco);
    text-align: center;
    margin-top: 10%;
    font-size: 1.2rem;
}

.link {
    color: var(--color2);
    text-decoration: none;
}

.link:hover {
    color: var(--color2);
    text-decoration: underline;
}

a {
    text-decoration: none;
}

button {
    text-decoration: none;
    background: none;
    color: var(--blanco);
    border: none;
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--blanco);
    background-color: var(--color3);
    border: none;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    outline: none;
    cursor: pointer;
}
.btn-neon:hover {
    background: var(--color1);
    box-shadow: 0 0 10px var(--color4), 0 0 40px var(--color4), 0 0 80px var(--color4);
    transition-delay: 1s;
}
.btn-neon span {
    position: absolute;
    display: block;
}

#span1, #span2, #span3, #span4 {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--color4));
}
#span2, #span4 {
    height: 100%;
    width: 2px;
}
#span1 {
    top: 0;
    left: -100%;
}
#span2 {
    top: -100%;
    right: 0;
}
#span3 {
    bottom: 0;
    right: -100%;
}
#span4 {
    bottom: -100%;
    left: 0;
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}
.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.btn-neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
