@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --color1: #070F2B;
    --color2: #1B1A55;
    --color3: #535C91;
    --color4: #9290C3;
    --negro1--: #020403;
    --blanco: #ffff;
    --rojo: red;
    --fuente: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--fuente);
    outline: none;
}

html{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: var(--color1);
}

@media (max-width: 1080px){
    body{
      max-width: 100%;
      overflow-x: hidden;
    }
}

header{
    height: 15vh;
    width: 100vw;
    background-color: var(--color2);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    background-color: var(--color2);
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar a{
    color: var(--blanco);
}

.logo {
    width: 240px;
    height: 130px;
    margin-right: 20px;
}

.logotipo{
    width: 100%;
    height: 100%;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
    font-size: 1.5em;
}

.nav-links{
    margin-right: -5rem;
}

.navbar .nav-links ul li.active a{
    color: var(--rojo);
    font-weight: 100;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 35px;
}

.menu-hamburger{
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    background-color: var(--color2);
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#title {
    margin-top: 0;
    color: var(--blanco);
    font-size: 1.2rem;
}

.saludo {
    text-align: right;
    margin-right: 30px;
}

.boton-cerrar-sesion {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--rojo);
    color: var(--blanco);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.boton-cerrar-sesion:hover {
    background-color: #c44d4d;
}

.btn-logout {
    background-color: var(--negro1--);
    border: none;
    color: var(--blanco);
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 991px){
    footer{
        padding: 40px;
        margin-top: -28rem;
    }

    footer .container{
        flex-direction: column;
    }

    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .sec.about-us, .quick-links, .contact{
        width: 100%;
    }

    .copyrightText{
        padding: 8px 40px;
    }
}

@media screen and (max-width: 1689px) {
    .navbar{
        padding: 0;
        position:fixed;
        z-index: 4;
        width: 100%;
    }

    .navbar .logo{
        position: absolute;
        top: 95px;
        left: 30px;
        margin-top: -5.5rem;
    }

    .logo {
        width: 220px;
        height: 130px;
        margin-right: 20px;
    }

    .logotipo{
        width: 100%;
        height: 100%;
    }

    .navbar .menu-hamburger{
        display: block;
    }

    .menu-hamburger{
        z-index: 4;
        position: absolute;
    }

    .nav-links{
        top: 0;
        left: 0;
        background-color: var(--color2);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        z-index: 2;
        position: fixed;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.5em;
    }
}

@media screen and (width:768px) {
    header{
        height: 13vh;
        width: 100vw;
    }
}

@media screen and (width: 1024px){
    header{
        height: 10vh;
        width: 100vw;
    }

    .navbar .logo{
        position: absolute;
        top: 45px;
        left: 30px;
    }

    .navbar .menu-hamburger{
        display: block;
    }

    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: var(--color2);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.5em;
    }

    #title {
        margin-top: 0;
        color: var(--blanco);
        font-size: 1.2rem;
    }

    .saludo {
        text-align: right;
        margin-right: 30px;
    }

    .boton-cerrar-sesion {
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--rojo);
        color: var(--blanco);
        border-radius: 5px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        transition: background-color 0.2s ease-in-out;
    }

    .boton-cerrar-sesion:hover {
        background-color: #c44d4d;
    }

    .btn-logout {
        background-color: var(--negro1--);
        border: none;
        color: var(--blanco);
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 60rem;
        margin-top: 0.5rem;
    }
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: var(--color2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25rem;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.about-us{
    width: 40%;
}

footer .container h2{
    position: relative;
    color: var(--blanco);
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 3px;
    background: var(--color4);
}

footer p{
    color: var(--color3);
    font-weight: 100;
    line-height: 1.5rem;
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
    background: var(--blanco);
}

.sci li a .fa{
    color: var(--blanco);
    font-size: 20px;
}

.sci li a:hover .fa{
    color: var(--color3);
}

.quick-links{
    position: relative;
    width: 25%;
}

.quick-links ul li{
    list-style: none;
}

.quick-links ul li a{
    color: var(--color3);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quick-links ul li a:hover{
    color: var(--blanco);
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: var(--blanco);
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: var(--color3);
}

.contact .info li a{
    color: var(--color3);
    text-decoration: none;
}

.contact .info li a:hover{
    color: var(--blanco);
}

.copyrightText{
    width: 100%;
    background: var(--color2);
    padding: 8px 100px;
    text-align: center;
    color: var(--color3);
}

/* Responsive */
@media screen and (max-width: 991px){
    footer{
        padding: 40px;
        margin-top: -28rem;
    }

    footer .container{
        flex-direction: column;
    }

    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .sec.about-us, .quick-links, .contact{
        width: 100%;
    }

    .copyrightText{
        padding: 8px 40px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--color3);
    color: var(--blanco);
}

h1 {
    text-align: center;
    color: var(--blanco);
}

.form-table td {
    vertical-align: top;
    color: var(--blanco);
}

.form-table strong{
    color: var(--color4);
}

.form-table input[type="radio"], .form-table input[type="time"], .form-table input[type="date"] {
    margin: 8px 0;
}

.form-table input[type="submit"], .form-table button {
    margin: 16px 0;
}

.functions-table td {
    width: 16.67%;
}

.functions-table tr{
    color: var(--blanco);
}
